body{ background-color: #997d70;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
color: #fff;

}
.clear{clear: both;}
.center{text-align: center;}
*{padding: 0; margin: 0; }
ul{list-style: none}
a{text-decoration: none}

/*content*/
.container{height: 700px;
	width: 1000px;
	background: #361b0f;
	position: relative;
	margin: auto;
margin-top: 50px;
margin-bottom: 50px;
	border-radius: 20px;
	overflow: hidden;
	text-align: center; 
    }
.footer{
	width: 100%;
    position: absolute;
    bottom: -1px;
	display: block;
	z-index: 2;
}
.n{position: absolute;
    bottom: -94px;
    font-size: 180px;
    left: 18%;
	z-index: 3;
}
.ouvil{
	position: absolute;
	z-index: 1;
	left: 32%;
}

/*menu*/
.menu{display: flex;
flex-direction: row;
justify-content: center;	
 align-items: baseline;	
	
}

.clicksearch:hover + .search{ visibility: visible; }

.search{position: absolute;
    right: 76px;
    border-radius: 20px;
    height: 30px;
    width: 252px;
    border: none;
	font-size: 14px;
    visibility: hidden;
	

}









.header{width: 30%; height: 50px; padding: 10px;
font-size: 30px;
}

.nav{display: flex;
flex-direction: column;
justify-content: center;	
 align-items: baseline;	
	position: absolute;
}
.nav i{flex: 0 0 10px;
    font-size: 30px; 
	padding: 38px 43px ;
}

summary{left: 10px;
    outline: none;
    position: absolute;
    top: 42px;
    font-size: 30px;}
summary::-webkit-details-marker { opacity: 0; } 

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}


.photos{width: 200px ; overflow: hidden;
position: relative; top: 30%; left: 50%; transform: translate(-50%, -50%);
	border-radius: 50% 0;
    border: 4px solid #fff;
	border-radius: 50% 0;
}


.photos ul {position: relative; display: flex;
flex-direction: row;

animation: slider 20s ease-in-out infinite;
}

.photos ul li img{width: 200px;}

.point{width: 10px;
height: 10px; 
border-radius: 50%; 
background: #fff;
position: absolute;
top: 60%;
left: 50%;}
.point2{left: 48%}


@keyframes sweep {
  0%    {opacity: 0; margin-top: -40px}
  100%  {opacity: 1; margin-top: 0px}
}
@keyframes slider {
  0%    { right: 0}
  30%    { right: 200px}	
  60%    { right: 400px}	
  100%    { right: 600px}	
 
 
}


/*الشاشات*/
@media only screen and (max-width: 600px){
	.container{height: 700px;
	width: 80%; }
	
	.footer{
	width: 100%;
    position: absolute;
    bottom: -1px;
	display: block;
	z-index: 2;
}
.n{
    bottom: -9%;
    font-size: 100px;
      left: 14%;
}
.ouvil{
	position: absolute;
	z-index: 1;
	left: 31%;}
.point2{left: 46%}
	
	.search{display: block;
    right: 10px;
    
    
}
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
	.container{height: 700px;
	width: 80%; }
	
	.footer{
	width: 100%;
    position: absolute;
    bottom: -1px;
	display: block;
	z-index: 2;
}
	.n{    bottom: -77px;
    font-size: 118px;
    left: 14%;}
	.ouvil{
	position: absolute;
	z-index: 1;
	left: 31%;
}
.point2{left: 46%}
	
	.search{display: block;
    right: 10px;
    
    
}
	
}
	
	
	
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.container{height: 700px;
	width: 80%; }
	
	.footer{
	width: 100%;
    position: absolute;
    bottom: -1px;
	display: block;
	z-index: 2;
}
.n{    bottom: -90px;
    font-size: 135px;
    left: 15%;}
	.ouvil{
	position: absolute;
	z-index: 1;
		left: 32%;}
.point2{left: 46%}
.search{display: block;
    right: 10px;
    
    
}	
	
}
@media only screen and (max-width: 992px) and (max-width: 1200px) {}
	


